body {
  color:white;
  background-color: #666666;
background-image: url('https://i.makeagif.com/media/12-16-2015/JZp8p1.gif');
background-position: left bottom;
background-size: cover;
background-repeat: no-repeat;
}

.MainTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  padding-bottom: 23rem;
  background-color: #666666;
  background-image: url('https://wallpaperaccess.com/full/4723041.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

img {
  flex-direction: column;
  border-radius: 6rem;
    width: 30%;
    height: 50%;
    margin-right: auto;
}



.Christmas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 5rem 1rem 0;
  margin-left: 40%;
  font-size: 2rem;
  border: 1rem outset #0d0063;
  border-radius: 5rem;
}

.relative {
  position: relative;
  left: 30px;
  top:500px;
}