.MainTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

img {
  flex-direction: column;
  border-radius: 6rem;
    width: 20%;
    height: 20%;
    margin-right: auto;
}

.Christmas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 5rem 1rem 0;
  margin-left: 40%;
  font-size: 2rem;
  border: 1rem outset #1C6EA4;
  border-radius: 5rem;
}